<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689387392048-5b5g3ld4t4qqmeo2os1m41ei82q7leac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689387392048-5b5g3ld4t4qqmeo2os1m41ei82q7leac</string>
	<key>API_KEY</key>
	<string>AIzaSyDxAxMbnvS8V2sUJhmTJKUUIviLdco_Qkc</string>
	<key>GCM_SENDER_ID</key>
	<string>689387392048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.giphyAppTest</string>
	<key>PROJECT_ID</key>
	<string>giphy-app-7a465</string>
	<key>STORAGE_BUCKET</key>
	<string>giphy-app-7a465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689387392048:ios:e74b92c71989a5dc3c31f5</string>
</dict>
</plist>